.top_container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: aqua;
}
.scroll_progress_container {
  width: 100%;
  height: 10px;
  background: #ccc;
}
.progress_bar {
  width: 0%;
  background: #000000;
  height: 10px;
}
